footer{
    height: 50px;
    background: #050505;
    text-align :center;
    padding-top: 10px;
    color: #fff;
    margin-top: 30px;
}

.ma-nav{
    border-radius: 0;
}

.mon-conteneur{
    min-height: 700px;
}

.border{
    border: 1px solid #A4A4A4;
    border-radius: 4px;
}


/********************************/
/********FICHE ANNONCE***********/
/********************************/

.encart-photo {
/*
    background-color:red;
    height: 200px;
*/
}

.encart-description {
/*    background-color:green;*/
    height: 200px;
}

.label-annonce {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
}

.labels {
    margin-top:10px;
}

.label-date:before, .label-utilisateur:before, .label-prix:before, .label-adresse:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 14px;
    color:#228AE6;
    margin-right: 5px;
}

.label-date:before {
    content:"\f073";
}

.label-utilisateur:before {
    content:"\f007";
}

.label-prix:before {
    content:"\f153";
}

.label-adresse:before{
    content:"\f041";
}

.map-annonce {
    margin-top:20px;
    height: 250px;
    background-color:green;
}

.side-annonce{
    height: 150px;
    background-color:fuchsia;
}

h4 {
    display: block;
}

.section-comment {
    padding: 0;
}

.display-comment {
/*    background-color:yellow;*/
    margin-bottom: 25px;
    padding: 0;
}

.display-comment:before {
    content:"\f2bd";
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 60px;
    color:#228AE6;
    margin-right: 15px;
    float: left;
    line-height: 1;
    padding-bottom: 10px;

}

.add-comment {
    background-color: antiquewhite;
}

.label-comment {
    display: block;
}

.label-comment-date {
    font-size: 14px;
    color:#228AE6;
}

.label-comment-user {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.label-note {
    margin-top: 6px;
    padding-bottom: 20px;
    padding-left:0;
}

